body {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

.hero {
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dolphijnheader {
    width: 60%;
    height: auto;
    height: 500px;
}

/* On hover, verwissel de static afbeelding met de gif varienant */
#dolphijnheader:hover {
    content: url('dolphin-10682.gif');
}

#introtext {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 80%;
    flex-direction: column;
}

.textcontainer {
    width: 60%;
    height: 400px;
    background-color: white;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    margin-bottom: 20px;
}

/* Optional styles for text within .textcontainer */
.textcontainer p {
    text-align: center; /* Center text horizontally within .textcontainer */
}


.Afbeeldingcontainers {
    width: 100%;
    height: 820px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.linkplaatjes {
    width: 60%; /* Keep the container at 60% width */
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap */
    gap: 10px; /* Adds gap between images */
}

.image-wrapper {
    position: relative;
    width: calc(50% - 5px); /* Each image takes up 50% minus half the gap */
    height: 410px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.text-overlay {
    position: absolute;
    bottom: 100px;
    left: 200px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.384); /* Semi-transparent background */
    padding: 5px 10px;
    border-radius: 5px;
}
